<div class="aboutus">
    <h1>About Us Page</h1>
    <p>Paint ball company supplying tools and gears.</p>
    
  </div>
  
  <h2 style="text-align:center">One Man team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>Shahzaib</h2>
          <p class="title">CEO & Founder</p>
        
          <p>smudasar66@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>